adp_cond_msdm2.json
ckpts
*.ckpt
build
adp_cond4.json
adp_cond5.json
adp_uncond3.json
create_metadata.py
*.wav
*.mp4
stable_audio_vae.json
stable_audio_vae1.json
stable_cond.json
flagged
gradio_cached_examples
docs
__pycache__
efficient_video_bgm/configs
wandb
demo_videos
stable_audio_tools.egg-info
clean_metadata_brid_tags.py
clean_metadata_cuidado_tags.py
clean_metadata_candombe_tags.py
clean_metadata_gtzan_genres_tags.py
clean_metadata_guitarset_tags.py
clean_metadata_hainsworth_tags.py
clean_metadata_maestro_tags.py
clean_metadata_pixabay_tags.py
clean_metadata_pixabay1_tags.py
clean_metadata_pixabay2_tags.py
clean_metadata_pixabay3_tags.py
clean_metadata_pixabay4_tags.py
clean_metadata_slakh_tags.py
clean_metadata_pixabay5_tags.py
clean_metadata1.py
dataset_metadata.json
metadata_tags.json
metadata_tags1.json
metadata_tags2.json
process_cleaned_json.py
stable_requirement.txt
test_transformer.py
test_vllm.py
train.py
unwrap_model.py
defaults.ini
efficient_video_bgm.egg-info
scripts
get_10sec_video_chunk.py
dataset_copy.py